<a href="https://colab.research.google.com/github/Pravignapala/Principle_of_Data_Science/blob/main/ICP5_16352783.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv')

# Print the DataFrame to see the data
print(df)

                  street             city    zip state  beds  baths  sq__ft  \
0           3526 HIGH ST       SACRAMENTO  95838    CA     2      1     836
1            51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167
2         2796 BRANCH ST       SACRAMENTO  95815    CA     2      1     796
3       2805 JANETTE WAY       SACRAMENTO  95815    CA     2      1     852
4        6001 MCMAHON DR       SACRAMENTO  95824    CA     2      1     797
..                   ...              ...    ...   ...   ...    ...     ...
980   9169 GARLINGTON CT       SACRAMENTO  95829    CA     4      3    2280
981      6932 RUSKUT WAY       SACRAMENTO  95823    CA     3      2    1477
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3      2    1216
983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

            type                     sale_date   price   latitude   longitude
0    Residential  Wed May 21 00:00:00 EDT 2008   59222  38.631913 -121.434879
1    Residential  Wed May 21 00:00:00 EDT 2008   68212  38.478902 -121.431028
2    Residential  Wed May 21 00:00:00 EDT 2008   68880  38.618305 -121.443839
3    Residential  Wed May 21 00:00:00 EDT 2008   69307  38.616835 -121.439146
4    Residential  Wed May 21 00:00:00 EDT 2008   81900  38.519470 -121.435768
..           ...                           ...     ...        ...         ...
980  Residential  Thu May 15 00:00:00 EDT 2008  232425  38.457679 -121.359620
981  Residential  Thu May 15 00:00:00 EDT 2008  234000  38.499893 -121.458890
982  Residential  Thu May 15 00:00:00 EDT 2008  235000  38.708824 -121.256803
983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

[985 rows x 12 columns]

In [71]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [72]:
df.shape

(985, 12)

In [73]:
df.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [74]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [75]:
num_beds=df.sort_values('beds',ascending=False)

In [76]:
num_beds[20:25]

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
97,5529 LAGUNA PARK DR,ELK GROVE,95758,CA,5,3,2790,Residential,Wed May 21 00:00:00 EDT 2008,258000,38.425680,-121.438062
91,8636 TEGEA WAY,ELK GROVE,95624,CA,5,3,2508,Residential,Wed May 21 00:00:00 EDT 2008,245918,38.443832,-121.382087
389,3624 20TH AVE,SACRAMENTO,95820,CA,5,2,1516,Residential,Mon May 19 00:00:00 EDT 2008,150000,38.534508,-121.467907
656,5937 YORK GLEN WAY,SACRAMENTO,95842,CA,5,2,1712,Residential,Fri May 16 00:00:00 EDT 2008,168000,38.677003,-121.354454
78,8373 BLACKMAN WAY,ELK GROVE,95624,CA,5,3,2136,Residential,Wed May 21 00:00:00 EDT 2008,223058,38.435436,-121.394536

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     985 non-null    object
 1   city       985 non-null    object
 2   zip        985 non-null    int64
 3   state      985 non-null    object
 4   beds       985 non-null    int64
 5   baths      985 non-null    int64
 6   sq__ft     985 non-null    int64
 7   type       985 non-null    object
 8   sale_date  985 non-null    object
 9   price      985 non-null    int64
 10  latitude   985 non-null    float64
 11  longitude  985 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.5+ KB

In [78]:
df.count()

street       985
city         985
zip          985
state        985
beds         985
baths        985
sq__ft       985
type         985
sale_date    985
price        985
latitude     985
longitude    985
dtype: int64

1.Find the number of the columns in the data frame

In [79]:
len(df.columns)

12

In [80]:
df.shape[1]

12

2.Find the mean of the house prices

In [81]:
df[df.beds > 3].price.mean()

306001.10591900314

In [82]:
df[df.beds < 3].price.mean()

172739.48605577688

In [83]:
df.price.mean()

234144.26395939087

3.Find the median of the house prices

In [84]:
df.price.median()

213750.0

4.Find the different types of property in the dataset

In [85]:
df.type.unique()

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

In [86]:
df.state.unique()

array(['CA'], dtype=object)

In [87]:
df.city.unique()

array(['SACRAMENTO', 'RANCHO CORDOVA', 'RIO LINDA', 'CITRUS HEIGHTS',
       'NORTH HIGHLANDS', 'ANTELOPE', 'ELK GROVE', 'ELVERTA', 'GALT',
       'CARMICHAEL', 'ORANGEVALE', 'FOLSOM', 'MATHER', 'POLLOCK PINES',
       'GOLD RIVER', 'EL DORADO HILLS', 'RANCHO MURIETA', 'WILTON',
       'GREENWOOD', 'FAIR OAKS', 'CAMERON PARK', 'LINCOLN', 'PLACERVILLE',
       'MEADOW VISTA', 'ROSEVILLE', 'ROCKLIN', 'AUBURN', 'LOOMIS',
       'EL DORADO', 'PENRYN', 'GRANITE BAY', 'FORESTHILL',
       'DIAMOND SPRINGS', 'SHINGLE SPRINGS', 'COOL', 'WALNUT GROVE',
       'GARDEN VALLEY', 'SLOUGHHOUSE', 'WEST SACRAMENTO'], dtype=object)

5.Find the maximum price of a "condo" in the dataset

In [88]:
df[df.type=='Condo'].price.max()

360000

6.Find the mean of each type of property in the dataset

In [89]:
df.groupby('type').price.mean()

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

7.Find the count of different property types in dataset

In [90]:
df.type.value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64

In [91]:
df[df.type=='Condo'].groupby('city').agg('beds').max().sort_values(ascending=False)

city
CARMICHAEL        3
ROSEVILLE         3
SACRAMENTO        3
ANTELOPE          2
AUBURN            2
CITRUS HEIGHTS    2
ELK GROVE         2
FAIR OAKS         2
RANCHO CORDOVA    2
CAMERON PARK      0
FOLSOM            0
GOLD RIVER        0
LINCOLN           0
Name: beds, dtype: int64

In [92]:
df.groupby('city').agg({'beds':'max','type':lambda x: tuple(x.unique())}).sort_values(by=['beds','type'],ascending=False)

                 beds                                type
city
SACRAMENTO          8  (Residential, Condo, Multi-Family)
EL DORADO HILLS     6                      (Residential,)
ELK GROVE           6                (Condo, Residential)
ANTELOPE            5                (Residential, Condo)
FOLSOM              5                (Residential, Condo)
LINCOLN             5                (Residential, Condo)
ROSEVILLE           5                (Residential, Condo)
GALT                5                      (Residential,)
GRANITE BAY         5                      (Residential,)
ROCKLIN             5                      (Residential,)
WILTON              5                      (Residential,)
CITRUS HEIGHTS      5  (Condo, Residential, Multi-Family)
RANCHO CORDOVA      5  (Condo, Residential, Multi-Family)
FAIR OAKS           5                (Condo, Residential)
AUBURN              4  (Residential, Condo, Multi-Family)
CAMERON PARK        4                (Residential, Condo)
CARMICHAEL          4                (Residential, Condo)
GOLD RIVER          4                (Residential, Condo)
ELVERTA             4                      (Residential,)
LOOMIS              4                      (Residential,)
NORTH HIGHLANDS     4                      (Residential,)
ORANGEVALE          4                      (Residential,)
PLACERVILLE         4                      (Residential,)
RANCHO MURIETA      4                      (Residential,)
RIO LINDA           4                      (Residential,)
COOL                3                      (Residential,)
DIAMOND SPRINGS     3                      (Residential,)
EL DORADO           3                      (Residential,)
GARDEN VALLEY       3                      (Residential,)
GREENWOOD           3                      (Residential,)
MATHER              3                      (Residential,)
MEADOW VISTA        3                      (Residential,)
PENRYN              3                      (Residential,)
POLLOCK PINES       3                      (Residential,)
SLOUGHHOUSE         3                      (Residential,)
WALNUT GROVE        3                      (Residential,)
WEST SACRAMENTO     2                      (Residential,)
SHINGLE SPRINGS     0                           (Unkown,)
FORESTHILL          0                      (Residential,)